<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{% block head_title %}{% endblock %}</title>
		<link rel="shortcut icon" href="/static/images/favicon.png"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/jquery.scrollgress.min.js"></script>
		<script src="/static/js/jquery.scrolly.min.js"></script>
		<script src="/static/js/jquery.slidertron.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
	</head>
	<body>

<!-- Header -->
<header id="header" class="skel-layers-fixed">
	<nav id="nav" style="margin-right:50px">
		<ul>
			<li><a href="/">Home</a></li>
			<li>
				<a href="" class="icon fa-angle-down">Portfolio</a>
				<ul>
					<li><a href="/portfolio/category/SoftwareEngineering">Software Engineering</a></li>
					<li><a href="/portfolio/category/Robotics">Robotics</a></li>
					<li><a href="/portfolio/category/IoT">IoT</a></li>
				</ul>
			</li>
			<li><a href="/portfolio">Contact</a></li>
		</ul>
	</nav>
</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>Contact</h2>
				</header>
				<div class="container">
					<!-- Content -->
                    <h2>You can contact me through linkedin or email</h2>
                    <div class="centered-content" style="
                    text-align: center;">
                            <ul class="icons">
                                <li><a href="https://www.linkedin.com/in/rodolfo-schiavi/"  target="_blank" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                                <li><a href="mailto: rodolfocmschiavi@gmail.com"  target="_blank" class="icon fa-envelope"><span class="label">Instagram</span></a></li>
                            </ul>
                    </div>
				</div>
			</section>

	</body>
</html>