
<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Rodolfo Schiavi's portfolio</title>
		<link rel="shortcut icon" href="/static/images/favicon.png"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{% static 'css/ie/html5shiv.js' %}"></script><![endif]-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollgress.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'js/jquery.slidertron.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<nav id="nav" style="margin-right:50px">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Portfolio</a>
							<ul>
								<li><a href="/portfolio/category/SoftwareEngineering">Software Engineering</a></li>
								<li><a href="/portfolio/category/Robotics">Robotics</a></li>
								<li><a href="/portfolio/category/IoT">IoT</a></li>
							</ul>
						</li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Rodolfo Schiavi</h2>
					<p>My portfolio webpage</p>
					<ul class="actions">
						<li><a href="#about-me" class="button big scrolly">Know more</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="about-me" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>About me</h2>
						<p>I'm a technology lover and I've been studying it since I know my self as a person.
							During college I starterd working and developing projects related to Robotics, Software Engineering and IoT. <br>
							In this Django page I posted some of the projects that worked on.
						</p>
					</header>
				</div>
			</section>


		<!-- Three -->
			<section id="portfolio" class="wrapper style2">
				<div class="container">
					<header class="major">
						<h2>Portfolio</h2>
						<p>I have a multidisciplinary knowledge with focus in software engineering and automation. <br>
							If you wanna know more about some projects in a certain field, you can access it below.
						</p>
					</header>
					<div class="row">
						<div class="4u 6u(2) 12u$(3)">
							<article class="box post">
								<a href="/portfolio/category/SoftwareEngineering" class="image fit"><img class="fit article img" src="{% static 'images/coding.png' %}" alt="" /></a>
								<h3>Software Engineering</h3>
								<p> In order to give life to robotics and electronics, I started learning code at college. Later that need became a passion.<br> </p>
								<ul class="actions">
									<li><a href="/portfolio/category/SoftwareEngineering" class="button" style="margin-top:15px">See More</a></li>
								</ul>
							</article>
						</div>
						<div class="4u 6u(2) 12u$(3)">
							<article class="box post">
								<a href="/portfolio/category/Robotics" class="image fit"><img class="fit article img" src="{% static 'images/robot.png' %}" alt="" /></a>
								<h3>Robotics</h3>
								<p> Projects that I worked and content related to robotics and automation. </p>
								<ul class="actions">
									<li><a href="/portfolio/category/Robotics" class="button" style="margin-top:15px">See More</a></li>
								</ul>
							</article>
						</div>
						<div class="4u 6u(2) 12u$(3)">
							<article class="box post">
								<a  href="/portfolio/category/IoT" class="image fit"><img class="fit article img" src="{% static 'images/iot.png' %}" alt="" /></a>
								<h3>IoT</h3>
								<p> A few projects and content related to data acquisition and data analysis with IoT.  </p>
								<ul class="actions">
									<li><a href="/portfolio/category/IoT" class="button" style="margin-top:15px">See More</a></li>
								</ul>
							</article>
						</div>
						
					</div>
				</div>
			</section>

			<!-- One -->
			<section id="spotlight" class="wrapper style2">
				<div class="container">
					<header class="major">
						<h2>Spotlight</h2>
						<p>Here the projects I worked that have a special place in my starting carrer.</p>
					</header>
				</div>
				<div class="slider">
					<div class="viewer">
						<div class="reel">
							<div class="slide">
								<a href="temperature_chart"><img class="fit article img" src="{% static 'images/pic_slide01.jpg' %}" alt="" /></a>
							</div>
							<div class="slide">
								<img class="fit article img" src="{% static 'images/pic_slide02.png' %}" alt="" />
							</div>
						</div>
					</div>
					<span class="nav-previous"></span>
					<span class="nav-next"></span>
				</div>
			</section>

		<!-- Footer -->
		<br>
			<h3>Me on the internet</h3>
		<div id="footer" style="margin-right:50px"></div>
	</body>
<script>
$.get("static/html/footer.html", function(data){
    $("#footer").replaceWith(data);
});
</script>
</html>