<!DOCTYPE HTML>

<html>
	<head>
		<title>My plant</title>
		<link rel="shortcut icon" href="/static/images/thumbs.png"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/jquery.scrollgress.min.js"></script>
		<script src="/static/js/jquery.scrolly.min.js"></script>
		<script src="/static/js/jquery.slidertron.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>

		<script src="/static/js/language/change_language.js" type="text/javascript"></script>
		<script src="/static/js/applications/chart_my_plant.js" type="text/javascript"></script>

		<!-- Vue plus google charts -->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<nav id="nav" style="margin-right:50px">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Projects</a>
							<ul>
								<li><a href="temperature_chart">Temperature chart</a></li>
								<li><a href="">My plant</a></li>
							</ul>
						</li>
						<!--
						<li>
							<a href="" class="icon fa-angle-down">Language</a>
							<ul>
								<li><a class="lan_text" href='javascript:changePt()'><img alt="PT" class="lan_img" src="static/images/icons/brazil.png">Português</a></li>
						  		<li><a class="lan_text" href='javascript:changeEn()'><img alt='EN' class="lan_img" src="static/images/icons/usa.png">English</a></li>
							</ul>
						</li>
						-->


					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>Temperature Dashboard for IoT device</h2>
					<p style="color:#842407">A small hobbyist project involving Cloud and Electronics</p>
				</header>
				<div class="container">

					<!-- Content -->
						<section id="content">
							<h2 style="color:#047108">Temperature today in Cacoal, Rondônia, Brazil</h2>
							<div id="chart_wrapper">
								<div id="chart_div"></div>
							</div>
						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://github.com/rcmschiavi"  target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="https://www.instagram.com/rodolfoschiavi/"  target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://www.facebook.com/rodolfo.schiavi.3"  target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				</ul>
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a target="_blank" href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a><p>Images downloaded in <a target="_blank" href ="https://pixabay.com/">PixaBay</a></p>
				</span>
			</footer>

	</body>

 <script>
	 callChart({{listData | safe}});
 </script>
</html>