{% extends 'blog/base.html' %}
{% block head_title %}RodolfoSchiavi - {{ post.title }}{% endblock %}
{% block cdn %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.js" type="text/javascript"></script>
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.description }}{% endblock %}
{% block content %}
    <div id="markdown-content"></div>
<script>
    function convertMarkdown(){
        var content = {{ post | safe}}
        var html      = marked(content.body);
        document.getElementById("markdown-content").innerHTML = html;
    }
    function iterateKeywords(){
        var keywords = {{keywords | safe }}
        keywords.forEach( function(keyword){
            console.log(keyword.keywords__keyword)
        });
    }
    convertMarkdown();
    iterateKeywords();
</script>
{% endblock %}
