body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: inherit;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #ffff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 1s;
    font-size: 17px;
    border-radius: 0 20% 0 20%;
    margin-left: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #f85c51;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ff130069;
    color:white;
    border: #ff130069;
    border-width: 2px;
    border-style: groove;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.select{
    background: #ff130069;
}

.points{
    background: inherit;

}

#products{
    max-height: 200px;
}

td{
    text-align: center; 
    vertical-align: middle;
}

#profile-pic{
    margin-bottom:20px;
}

table tbody tr:nth-child(2n){
    background-color: #0084ff69 !important ;
}

table tbody tr:nth-child(2n + 1){
    background-color: #0084ff44 !important ;
}

table tbody tr.bad:nth-child(2n){
    background-color: #ff130069 !important ;
}

table tbody tr.bad:nth-child(2n + 1){
    background-color: #ff110044 !important ;
}

table tbody tr.great:nth-child(2n){
    background-color: #33ff0069 !important ;
}

table tbody tr.great:nth-child(2n + 1){
    background-color: #33ff0044 !important ;
}

img.img-rate{
    border-radius: 50%;
    max-height: 100px;
}