<footer style= "background-color: #cfcfcf" id="footer">
    <ul class="icons">
        <li><a href="https://github.com/rcmschiavi"  target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.instagram.com/rodolfoschiavi/"  target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.facebook.com/rodolfo.schiavi.3"  target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    </ul>
    <span class="copyright">
        &copy; Copyright. All rights reserved. Design by <a target="_blank" href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a><p>Images downloaded at <a target="_blank" href ="https://pixabay.com/">PixaBay</a></p>
    </span>
</footer>