<script src="static/js/skel.min.js"></script>
<script src="static/js/skel-layers.min.js"></script>
<script src="static/js/init.js"></script>
<nav id="nav" style="margin-right:50px">
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="" class="icon fa-angle-down">Projects</a>
            <ul>
                <li><a href="temperature_chart">Temperature chart</a></li>
                <li><a href="my_plant">My plant</a></li>
            </ul>
        </li>
    </ul>
</nav>